/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

/* INSTRUCTOR: Here is the filled out version of the float activity */

body {
  font-size: 24px;
  line-height: 32px;
  color: #838181;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}

#article {
  float: bottom;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  background: #706D6D;
}

#h1{
  float: middle;
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
  color: #fff;
  background: #888;
}

#p {
  float: bottom;
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  background: #666;
}


#section {
  float: left;
  width: 40%;
  height: 250px;
  margin-bottom: 10px;
  background: #616060;
}

#aside {
  float: right;
  width: 50%;
  height: 250px;
  margin-bottom: 10px;
  background: #616060;
}

footer {
  clear: both;
  padding: 20px;
  margin-top: 20px;
  color: #333;
  background: #ccc;
}
#footer {

  float: clear;
  padding: 20px;
  background: #ccc;
}
